<!DOCTYPE html> <html lang="en">
	<head>
		<link rel="stylesheet" href="/css/style.css" type="text/css">
		<title>Todo</title>
	</head>
	<body>
		<h1>TODOs</h1>
		<ul>
			<% for(let i=0; i<list.length; i++){ %>
				<li>
					<input id='a' type="checkbox">
					<span id='b'><%= list[i].item %></span>
					<!-- <span 'id='c'><form class="dd" action="/del" method="POST"><button type="submit" name=<%= i %>>Delete</button></form></span> -->
					<span class="del">Delete</span>
				</li>
			<% } %>
		</ul>
		<form class="add" action="/addItem" method="POST">
			<input class="item" type="text" placeholder="Add todo item" name="item">
			<button type="submit">Submit</button> 
		</form>
		<script src="/main.js"></script>
	</body>
