h1{
	color: navy;
	text-align: center;
}
body{
	text-align: left;
	background-color: DarkCyan;
}
@media screen and (max-width: 600px){
	section.obj,{
		width: 100%;
	}
}
form{
	margin-left: 5%;
	float: left;
	clear: both;
}
